apiVersion: apps/v1
kind: Deployment
metadata:
  name: prowlarr
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      strategy:
        type: Recreate
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      containers:
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:2.3.0.5236-ls134@sha256:67a8aaedcfd6989f3030b937a6a07007310b1dfc7ee8df16d2cbfa48d1c1158c
          ports:
            - containerPort: 9696
          env:
            - name: TZ
              value: Australia/Melbourne
          livenessProbe:
            httpGet:
              path: /ping
              port: 9696
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ping
              port: 9696
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3
          securityContext:
            allowPriviligeEscalation: false
            capabilities:
              drop:
                - NET_RAW
                - SYS_CHROOT
                - MKNOD
                - AUDIT_WRITE
          volumeMounts:
            - name: prowlarr-data
              mountPath: /config
          resources:
            requests:
              cpu: 100m
            # limits:
            #   memory: 1Gi
      volumes:
        - name: prowlarr-data
          persistentVolumeClaim:
            claimName: prowlarr-data-pvc
