apiVersion: v1
kind: Service
metadata:
  name: linkding
  namespace: default
  annotations: 
    tailscale.com/expose: "true"
spec:
  ports:
    - port: 9090
  selector:
    app: linkding
  type: ClusterIP
