# claude
.claude
CLAUDE.md

# docs
docs

# nix
.direnv

# direnv (contains OP_SERVICE_ACCOUNT_TOKEN)
.envrc

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
terraform/files

# ansible
.vaultpass

talos/*.secret.yaml
talos/secrets.yaml
talos/controlplane.yaml
talos/worker.yaml
talos/talosconfig
