# nix
.direnv

# terraform
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform/files

# ansible
.vaultpass

talos/*.secret.yaml
talos/secrets.yaml
talos/controlplane.yaml
talos/worker.yaml
talos/talosconfig
