services:
  miniflux:
    image: miniflux/miniflux:2.2.16@sha256:1f37163a178189eba09bf0a1c96d7335aa1fa474d4f958f51e0c5ad9f8136979
    container_name: miniflux
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
      - miniflux-backend
    environment:
      - DATABASE_URL=postgres://miniflux:${DB_PASSWORD}@miniflux-db/miniflux?sslmode=disable
      # - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - BASE_URL=https://miniflux.local.elmurphy.com
    labels:
      - traefik.enable=true
      - traefik.http.routers.miniflux.rule=Host(`miniflux.local.elmurphy.com`)
      - traefik.http.routers.miniflux.tls=true
      - traefik.http.services.miniflux.loadbalancer.server.port=8080
    depends_on:
      miniflux-db:
        condition: service_healthy
    restart: unless-stopped

  miniflux-db:
    image: postgres:18@sha256:1090bc3a8ccfb0b55f78a494d76f8d603434f7e4553543d6e807bc7bd6bbd17f
    container_name: miniflux-db
    security_opt:
      - no-new-privileges:true
    networks:
      - miniflux-backend
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=miniflux
    volumes:
      - miniflux-db:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s
    restart: unless-stopped

volumes:
  miniflux-db:
    name: miniflux-db

networks:
  proxy:
    external: true
  miniflux-backend:
    name: miniflux-backend
    internal: true
    ipam:
      config:
        - subnet: 172.80.1.0/24
