services:
  miniflux:
    image: miniflux/miniflux:2.2.17@sha256:802ab7d045826d047883476e2310bf59f5d9b3875f7a8106fa0c43638d01fd64
    container_name: miniflux
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
      - miniflux-backend
    environment:
      - DATABASE_URL=postgres://miniflux:${DB_PASSWORD}@miniflux-db/miniflux?sslmode=disable
      # - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - BASE_URL=https://miniflux.local.elmurphy.com
    labels:
      - traefik.enable=true
      - traefik.http.routers.miniflux.rule=Host(`miniflux.local.elmurphy.com`)
      - traefik.http.routers.miniflux.tls=true
      - traefik.http.services.miniflux.loadbalancer.server.port=8080
    depends_on:
      miniflux-db:
        condition: service_healthy
    restart: unless-stopped

  miniflux-db:
    image: postgres:18@sha256:b6b4d0b75c699a2c94dfc5a94fe09f38630f3b67ab0e1653ede1b7ac8e13c197
    container_name: miniflux-db
    security_opt:
      - no-new-privileges:true
    networks:
      - miniflux-backend
    environment:
      - POSTGRES_USER=miniflux
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=miniflux
    volumes:
      - miniflux-db:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "miniflux"]
      interval: 10s
      start_period: 30s
    restart: unless-stopped

volumes:
  miniflux-db:
    name: miniflux-db

networks:
  proxy:
    external: true
  miniflux-backend:
    name: miniflux-backend
    internal: true
    ipam:
      config:
        - subnet: 172.80.1.0/24
