---
services:
  # NOTE: visit https://<server-ip>:32400/web to setup new server
  plex:
    image: plexinc/pms-docker:1.43.0.10467-2b1ba6e69@sha256:d38767ec3b948e860bcf1abfe16512bd638e6ac01230f5b65b64e2ef09052267
    container_name: plex
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    devices:
      - /dev/dri:/dev/dri
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - plex-data:/config
      - /mnt/data/media:/data/media:rw
      - /mnt/music:/data/music:rw
      - /dev/shm:/transcode # ram transcode
    labels:
      - traefik.enable=true
      - traefik.http.routers.plex.rule=Host(`plex.local.elmurphy.com`)
      - traefik.http.routers.plex.tls=true
      - traefik.http.services.plex.loadbalancer.server.port=32400
    restart: unless-stopped

  tautulli:
    image: ghcr.io/linuxserver/tautulli:v2.16.0-ls216@sha256:31bce3c8457e74392c8c451eee315a759f8b96ec7cff6060596152d7e893b776
    container_name: tautulli
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - tautulli-data:/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.tautulli.rule=Host(`tautulli.local.elmurphy.com`)
      - traefik.http.routers.tautulli.tls=true
      - traefik.http.services.tautulli.loadbalancer.server.port=8181
    restart: unless-stopped

  overseerr:
    image: ghcr.io/linuxserver/overseerr:v1.34.0-ls156@sha256:987a6bd200a88501a5fa0cfa0c3179acd83e5b0af986da1537b70f44cfe059b8
    container_name: overseerr
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - overseerr-data:/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.overseerr.rule=Host(`overseerr.local.elmurphy.com`)
      - traefik.http.routers.overseerr.tls=true
      - traefik.http.services.overseerr.loadbalancer.server.port=5055
    restart: unless-stopped

  maintainerr:
    image: ghcr.io/jorenn92/maintainerr:2.19.0@sha256:bee84707edaf589cda3d18b6813cbfe3a137b52786210c3a28190e10910c1240
    container_name: maintainerr
    security_opt:
      - no-new-privileges:true
    user: 1000:1000
    networks:
      - proxy
    environment:
      - TZ=${TZ}
    volumes:
      - maintainerr-data:/opt/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.maintainerr.rule=Host(`maintainerr.local.elmurphy.com`)
      - traefik.http.routers.maintainerr.tls=true
      - traefik.http.services.maintainerr.loadbalancer.server.port=6246
    restart: unless-stopped

  # Manually setup initial config
  # Reference: https://kometa.wiki/en/latest/kometa/install/walkthroughs/docker/#setting-up-the-initial-config-file
  kometa:
    image: kometateam/kometa:v2.3.0@sha256:340e4176e1d75f04d2b55ce177326710f28770b5f56537fd539a034b143fe66d
    container_name: kometa
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    volumes:
      - kometa-data:/config:rw
    restart: unless-stopped

volumes:
  plex-data:
    name: plex-data
  tautulli-data:
    name: tautulli-data
  overseerr-data:
    name: overseerr-data
  maintainerr-data:
    name: maintainerr-data
  kometa-data:
    name: kometa-data

networks:
  proxy:
    external: true
