---
services:
  # NOTE: visit https://<server-ip>:32400/web to setup new server
  plex:
    image: plexinc/pms-docker:1.42.2.10156-f737b826c@sha256:9c03c26b9479ba9a09935f3367459bfdc8d21545f42ed2a13258983c5be1b252
    container_name: plex
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    devices:
      - /dev/dri:/dev/dri
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - plex-data:/config
      - /mnt/data/media:/data/media:rw
      - /mnt/music:/data/music:rw
      - /dev/shm:/transcode # ram transcode
    labels:
      - traefik.enable=true
      - traefik.http.routers.plex.rule=Host(`plex.local.elmurphy.com`)
      - traefik.http.routers.plex.tls=true
      - traefik.http.services.plex.loadbalancer.server.port=32400
    restart: unless-stopped

  tautulli:
    image: ghcr.io/linuxserver/tautulli:v2.16.0-ls211@sha256:876aae4ce0f1dc099216bef843cf4cefe743837eca8717a2a7ff2bf9e0e07062
    container_name: tautulli
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - tautulli-data:/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.tautulli.rule=Host(`tautulli.local.elmurphy.com`)
      - traefik.http.routers.tautulli.tls=true
      - traefik.http.services.tautulli.loadbalancer.server.port=8181
    restart: unless-stopped

  overseerr:
    image: ghcr.io/linuxserver/overseerr:v1.34.0-ls154@sha256:f6a782e44742a02bdb6032d32ebb4e9615e261140f879be897b28cdb40ff800e
    container_name: overseerr
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - overseerr-data:/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.overseerr.rule=Host(`overseerr.local.elmurphy.com`)
      - traefik.http.routers.overseerr.tls=true
      - traefik.http.services.overseerr.loadbalancer.server.port=5055
    restart: unless-stopped

  maintainerr:
    image: ghcr.io/jorenn92/maintainerr:2.19.0@sha256:bee84707edaf589cda3d18b6813cbfe3a137b52786210c3a28190e10910c1240
    container_name: maintainerr
    security_opt:
      - no-new-privileges:true
    user: 1000:1000
    networks:
      - proxy
    environment:
      - TZ=${TZ}
    volumes:
      - maintainerr-data:/opt/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.maintainerr.rule=Host(`maintainerr.local.elmurphy.com`)
      - traefik.http.routers.maintainerr.tls=true
      - traefik.http.services.maintainerr.loadbalancer.server.port=6246
    restart: unless-stopped

volumes:
  plex-data:
    name: plex-data
  tautulli-data:
    name: tautulli-data
  overseerr-data:
    name: overseerr-data
  maintainerr-data:
    name: maintainerr-data

networks:
  proxy:
    external: true
