apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: beszel-agent
  namespace: default
spec:
  selector:
    matchLabels:
      app: beszel-agent
  template:
    metadata:
      labels:
        app: beszel-agent
    spec:
      hostNetwork: true
      containers:
        - name: beszel-agent
          image: henrygd/beszel-agent:0.18.3-alpine
          ports:
            - containerPort: 45876
              hostPort: 45876
          env:
            - name: LISTEN
              value: 45876
            - name: KEY
              valueFrom:
                secretKeyRef:
                  name: beszel-credentials
                  key: beszel-key
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: beszel-credentials
                  key: beszel-token
            - name: HUB_URL
              valueFrom:
                secretKeyRef:
                  name: beszel-credentials
                  key: beszel-hub-url
          resources:
            requests:
              cpu: 50m
            limits:
              memory: 256Mi
      restartPolicy: Always
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
        - effect: NoSchedule
          key: node-role.kubernetes.io/control-plane
          operator: Exists
  updateStrategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 100%
    type: RollingUpdate
