---
services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:2.31.0@sha256:e23adb24848d99d19cd1e251aee4e1e12ed4f5effc8ccb21754b062b6a06cf66
    container_name: audiobookshelf
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - TZ=${TZ}
    volumes:
      - /mnt/audiobooks:/data/audiobooks:rw
      - audiobookshelf-data:/config
      - audiobookshelf-data:/metadata
    labels:
      - traefik.enable=true
      - traefik.http.routers.audiobookshelf.rule=Host(`audiobookshelf.local.elmurphy.com`)
      - traefik.http.routers.audiobookshelf.tls=true
      - traefik.http.services.audiobookshelf.loadbalancer.server.port=80
    restart: unless-stopped
volumes:
  audiobookshelf-data:
    name: audiobookshelf-data

networks:
  proxy:
    external: true
