---
services:
  radarr:
    image: ghcr.io/linuxserver/radarr:6.0.4.10291-ls288@sha256:06ac318ecb95a34c7b229568dcb4271f02cb5007bb189a0dd67a2032864187ca
    container_name: radarr
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1215
      - PGID=1215
      - TZ=${TZ}
    volumes:
      - radarr-data:/config
      - /mnt/data:/data:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.radarr.rule=Host(`radarr.local.elmurphy.com`)
      - traefik.http.routers.radarr.tls=true
      - traefik.http.services.radarr.loadbalancer.server.port=7878
    restart: unless-stopped

  sonarr:
    image: ghcr.io/linuxserver/sonarr:4.0.16.2944-ls299@sha256:60e5edcac39172294ad22d55d1b08c2c0a9fe658cad2f2c4d742ae017d7874de
    container_name: sonarr
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1215
      - PGID=1215
      - TZ=${TZ}
    volumes:
      - sonarr-data:/config
      - /mnt/data:/data:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.sonarr.rule=Host(`sonarr.local.elmurphy.com`)
      - traefik.http.routers.sonarr.tls=true
      - traefik.http.services.sonarr.loadbalancer.server.port=8989
    restart: unless-stopped

  lidarr:
    image: ghcr.io/linuxserver/lidarr:3.1.0.4875-ls14@sha256:c1e17cc29421c9da603f0c727b7785d280dc98dfb1f835d0b176485dc8c5deb5
    container_name: lidarr
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1215
      - PGID=1215
      - TZ=${TZ}
    volumes:
      - lidarr-data:/config
      - /mnt/data:/data:rw
      - /mnt/music:/music:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.lidarr.rule=Host(`lidarr.local.elmurphy.com`)
      - traefik.http.routers.lidarr.tls=true
      - traefik.http.services.lidarr.loadbalancer.server.port=8686
    restart: unless-stopped

  prowlarr:
    image: ghcr.io/linuxserver/prowlarr:2.3.0.5236-ls133@sha256:475853535de3de8441b87c1457c30f2e695f4831228b12b6b7274e9da409d874
    container_name: prowlarr
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1215
      - PGID=1215
      - TZ=${TZ}
    volumes:
      - prowlarr-data:/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.local.elmurphy.com`)
      - traefik.http.routers.prowlarr.tls=true
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696
    restart: unless-stopped

volumes:
  radarr-data:
    name: radarr-data
  sonarr-data:
    name: sonarr-data
  lidarr-data:
    name: lidarr-data
  prowlarr-data:
    name: prowlarr-data

networks:
  proxy:
    external: true
