---
services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
    container_name: jellyfin
    security_opt:
      - no-new-privileges:true
    user: 1000:1000
    networks:
      - proxy
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - 992 # render group 
    environment:
      - JELLYFIN_PublishedServerUrl=https://jellyfin.local.elmurphy.com
    volumes:
      - jellyfin-data:/config
      - jellyfin-cache:/cache
      - /mnt/data/media:/data/media:ro
      - /mnt/music:/data/music:ro
      - /dev/shm:/transcode # ram transcode
    ports:
      - 8096:8096 
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.local.elmurphy.com`)
      - traefik.http.routers.jellyfin.tls=true
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
      - traefik.http.routers.jellyfin.tls.options=intermediate@file
    restart: unless-stopped

volumes:
  jellyfin-data:
    name: jellyfin-data
  jellyfin-cache:
    name: jellyfin-cache

networks:
  proxy:
    external: true
