---
services:
  freshrss:
    image: ghcr.io/linuxserver/freshrss:1.28.1-ls296@sha256:5af0875104eafb11298f7b2614e4216628d3735382e8b356bdb1c060bb8d9de9
    container_name: freshrss
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - freshrss-data:/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.freshrss.rule=Host(`freshrss.local.elmurphy.com`)
      - traefik.http.routers.freshrss.tls=true
      - traefik.http.services.freshrss.loadbalancer.server.port=80
    restart: unless-stopped

volumes:
  freshrss-data:
    name: freshrss-data

networks:
  proxy:
    external: true
