---
services:
  freshrss:
    image: ghcr.io/linuxserver/freshrss:1.27.1-ls288@sha256:269bb10ad8f55a996f307bf5b7fdf2e21386edbd771d1940c16b7266d6757d69
    container_name: freshrss
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    volumes:
      - freshrss-data:/config
    labels:
      - traefik.enable=true
      - traefik.http.routers.freshrss.rule=Host(`freshrss.local.elmurphy.com`)
      - traefik.http.routers.freshrss.tls=true
      - traefik.http.services.freshrss.loadbalancer.server.port=80
    restart: unless-stopped

volumes:
  freshrss-data:
    name: freshrss-data

networks:
  proxy:
    external: true
