[Unit]
Description=WezTerm Multiplexer Server
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/wezterm-mux-server
Restart=on-failure
RestartSec=2s
NoNewPrivileges=true

[Install]
WantedBy=default.target
