---
services:
  deluge:

    image: ghcr.io/linuxserver/deluge:2.2.0-r1-ls358@sha256:448ed924f3479ae175c936c9693b4c4df52ebcb193e05d805c9f16c88112fe45
    container_name: deluge
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1215
      - PGID=1215
      - TZ=${TZ}
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - deluge-data:/config
      - /mnt/data/torrents:/data/torrents:rw
    ports:
      - 25565:25565
      - 25565:25565/udp
    labels:
      - traefik.enable=true
      - traefik.http.routers.deluge.rule=Host(`deluge.local.elmurphy.com`)
      - traefik.http.routers.deluge.tls=true
      - traefik.http.services.deluge.loadbalancer.server.port=8112
    restart: unless-stopped

  # NOTE: initial setup is done via "http://<docker localhost ip>:8080"
  # hostname must be added to host_whitelist in sabnzbd.ini
  # reference: https://sabnzbd.org/wiki/extra/hostname-check.html
  sabnzbd:
    image: ghcr.io/linuxserver/sabnzbd:4.5.5-ls238@sha256:1c7be873e575c2ff8f699a5fafc79b34630baeeafcb46ad8a5ac75cef38057a5
    container_name: sabnzbd
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - PUID=1215
      - PGID=1215
      - TZ=${TZ}
    volumes:
      - sabnzbd-data:/config
      - /mnt/data/usenet:/data/usenet:rw
    labels:
      - traefik.enable=true
      - traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.local.elmurphy.com`)
      - traefik.http.routers.sabnzbd.tls=true
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
    restart: unless-stopped

volumes:
  deluge-data:
    name: deluge-data
  sabnzbd-data:
    name: sabnzbd-data

networks:
  proxy:
    external: true
