---
services:
  portainer:
    image: portainer/portainer-ee:lts@sha256:dc2cfb4461ef0fdae27f150465efdd3a9adb736b9adbecc81abedf58a96fd580
    container_name: portainer
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    volumes:
      - portainer-data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 8000:8000
      - 9443:9443
    labels:
      - traefik.enable=true
      - traefik.http.routers.portainer.rule=Host(`portainer.local.elmurphy.com`)
      - traefik.http.routers.portainer.tls=true
      - traefik.http.services.portainer.loadbalancer.server.port=9000
    depends_on:
      - traefik
    restart: unless-stopped

  traefik:
    image: traefik:v3.6.4@sha256:beebe9d00a6f7cd8cf35581eb9c065d30d1ac0b961a5561fb106c64d10d8d76d
    container_name: traefik
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    env_file:
      - .env
    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
      - CF_API_EMAIL=${CF_API_EMAIL}
    volumes:
      - traefik-data:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/traefik.yml:ro
      - ./traefik-dynamic.yml:/traefik-dynamic.yml:ro
    ports:
      - 80:80
      - 443:443
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.routers.traefik.rule=Host(`traefik.local.elmurphy.com`)"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=web"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"
      - "traefik.http.routers.traefik-secure.entrypoints=websecure"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik.local.elmurphy.com`)"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=local.elmurphy.com"
      - "traefik.http.routers.traefik-secure.tls.domains[0].sans=*.local.elmurphy.com"
      - "traefik.http.routers.traefik-secure.service=api@internal"
    restart: unless-stopped

  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v1.16.0@sha256:f8cde808e8e840acda25683fc2168e0206e3f3fb1a48cca89d211aafd87eaeef
    container_name: pocket-id
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - APP_URL=https://pocket-id.local.elmurphy.com
      - TRUST_PROXY=true
      - MAXMIND_LICENSE_KEY=${MAXMIND_LICENSE_KEY}
      - PUID=1000
      - PGID=1000
      - ANALYTICS_DISABLED=true
    volumes:
      - pocketid-data:/app/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.pocket-id.rule=Host(`pocket-id.local.elmurphy.com`)
      - traefik.http.routers.pocket-id.tls=true
      - traefik.http.services.pocket-id.loadbalancer.server.port=1411
    healthcheck:
      test: "curl -f http://localhost:1411/healthz"
      interval: 1m30s
      timeout: 5s
      retries: 2
      start_period: 10s
    depends_on:
      - traefik
    restart: unless-stopped

volumes:
  portainer-data:
    name: portainer-data
  traefik-data:
    name: traefik-data
  pocketid-data:
    name: pocketid-data

networks:
  proxy:
    name: proxy
    ipam:
      config:
        - subnet: 172.20.1.0/24
