services:
  crafty:
    image: registry.gitlab.com/crafty-controller/crafty-4:latest@sha256:ea04b6c57716c48f80039f7837417bde722b8fecaba2826846076f77675ab395
    container_name: crafty
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - TZ=${TZ}
    ports:
      - "8443:8443" # HTTPS
      - "8123:8123" # DYNMAP
      - "19132:19132/udp" # BEDROCK
      - "25566-25600:25566-25600" # MC SERV PORT RANGE
    volumes:
      - /mnt/data/minecraft/backups:/crafty/backups
      - crafty-logs:/crafty/logs
      - crafty-servers:/crafty/servers
      - crafty-data:/crafty/app/config
      - crafty-import:/crafty/import
    labels:
      - traefik.enable=true
      - traefik.http.routers.crafty.tls.certresolver=cloudflare
      - traefik.http.routers.crafty.rule=Host(`crafty.local.elmurphy.com`)
      - traefik.http.routers.crafty.tls=true
      - traefik.http.services.crafty.loadbalancer.server.port=8443
    restart: unless-stopped

volumes:
  crafty-logs:
    name: crafty-logs
  crafty-servers:
    name: crafty-servers
  crafty-data:
    name: crafty-data
  crafty-import:
    name: crafty-import

networks:
  proxy:
    external: true
