---
services:
  beszel:
    image: henrygd/beszel:0.17.0@sha256:185142e6c91bd44c77fef6cd31784aee0f782eb1d7193c3ee34a9902a936621c
    container_name: beszel
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - DISABLE_PASSWORD_AUTH=true # use pocket-id
    volumes:
      - beszel-data:/beszel_data
    labels:
      - traefik.enable=true
      - traefik.http.routers.beszel.rule=Host(`beszel.local.elmurphy.com`)
      - traefik.http.routers.beszel.tls=true
      - traefik.http.services.beszel.loadbalancer.server.port=8090
    restart: unless-stopped

volumes:
  beszel-data:
    name: beszel-data

networks:
  proxy:
    external: true
