---
services:
  beszel:
    image: henrygd/beszel:0.16.1@sha256:24c5513b364a2cb6f966819389128999817afbaebfe81ba2980289e39326f484
    container_name: beszel
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
    environment:
      - DISABLE_PASSWORD_AUTH=true # use pocket-id
    volumes:
      - beszel-data:/beszel_data
    labels:
      - traefik.enable=true
      - traefik.http.routers.beszel.rule=Host(`beszel.local.elmurphy.com`)
      - traefik.http.routers.beszel.tls=true
      - traefik.http.services.beszel.loadbalancer.server.port=8090
    restart: unless-stopped

volumes:
  beszel-data:
    name: beszel-data

networks:
  proxy:
    external: true
