apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
  namespace: tailscale
spec:
  interval: 12h
  chart:
    spec:
      chart: tailscale-operator
      version: "1.92.*"
      sourceRef:
        kind: HelmRepository
        name: tailscale-operator
        namespace: tailscale
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
values:
  apiServerProxyConfig:
    mode: true
