---
services:
  nextcloud:
    image: nextcloud:32.0.3@sha256:271a9c9fe81f38e92df5bdfbb518977322de8cbf3d749ff41de213f26bd7cba5
    container_name: nextcloud
    security_opt:
      - no-new-privileges:true
    networks:
      - proxy
      - nextcloud-backend
    environment:
      - APACHE_DISABLE_REWRITE_IP=1
      - TRUSTED_PROXIES=172.20.1.0/24
      - NEXTCLOUD_DATA_DIR=/data
      - NEXTCLOUD_TRUSTED_DOMAINS="https://nextcloud.local.elmurphy.com"
      - PHP_UPLOAD_LIMIT=1G
      - POSTGRES_HOST=nextcloud-postgres
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - REDIS_HOST=nextcloud-redis
    volumes:
      - nextcloud-data:/var/www/html:z
      - /mnt/nextcloud:/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.nextcloud.rule=Host(`nextcloud.local.elmurphy.com`)
      - traefik.http.routers.nextcloud.tls=true
      - traefik.http.services.nextcloud.loadbalancer.server.port=80
      # reference: https://docs.nextcloud.com/server/31/admin_manual/configuration_server/reverse_proxy_configuration.html#traefik-2
      - traefik.http.routers.nextcloud.middlewares=nextcloud_redirectregex@docker,nextcloud_headers@docker
      - traefik.http.middlewares.nextcloud_redirectregex.redirectregex.permanent=true
      - traefik.http.middlewares.nextcloud_redirectregex.redirectregex.regex=https://(.*)/.well-known/(?:card|cal)dav
      - traefik.http.middlewares.nextcloud_redirectregex.redirectregex.replacement=https://$${1}/remote.php/dav
      # HSTS
      - traefik.http.middlewares.nextcloud_headers.headers.stsSeconds=15752000
      - traefik.http.middlewares.nextcloud_headers.headers.forceSTSHeader=true
      - traefik.http.middlewares.nextcloud_headers.headers.stsPreload=true
      - traefik.http.middlewares.nextcloud_headers.headers.stsIncludeSubdomains=true
    depends_on:
      - nextcloud-redis
      - nextcloud-postgres
    restart: unless-stopped

  nextcloud-cron:
    image: nextcloud:32.0.3@sha256:271a9c9fe81f38e92df5bdfbb518977322de8cbf3d749ff41de213f26bd7cba5
    container_name: nextcloud-cron
    security_opt:
      - no-new-privileges:true
    networks:
      - nextcloud-backend
    volumes:
      - nextcloud-data:/var/www/html:z
      - /mnt/nextcloud:/data
    depends_on:
      - nextcloud-redis
      - nextcloud-postgres
    entrypoint: /cron.sh
    restart: unless-stopped

  nextcloud-postgres:
    image: postgres:alpine@sha256:b40d931bd0e7ce6eecc59a5a6ac3b3c04a01e559750e73e7086b6dbd7f8bf545
    container_name: nextcloud-postgres
    security_opt:
      - no-new-privileges:true
    networks:
      - nextcloud-backend
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - nextcloud-postgres-db:/var/lib/postgresql/data:Z
    restart: unless-stopped

  nextcloud-redis:
    image: redis:alpine@sha256:6cbef353e480a8a6e7f10ec545f13d7d3fa85a212cdcc5ffaf5a1c818b9d3798
    container_name: nextcloud-redis
    security_opt:
      - no-new-privileges:true
    networks:
      - nextcloud-backend
    restart: unless-stopped

volumes:
  nextcloud-data:
    name: nextcloud-data
  nextcloud-postgres-db:
    name: nextcloud-postgres-db

networks:
  proxy:
    external: true
  nextcloud-backend:
    name: nextcloud-backend
    internal: true
    ipam:
      config:
        - subnet: 172.50.1.0/24
