---
services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.4.0@sha256:7e2d0df478651551df3358072e68c235200b875eccd6eb4a5c5d8879a7095cf4
    container_name: immich
    security_opt:
      - no-new-privileges:true
    devices:
      - /dev/dri:/dev/dri
    networks:
      - proxy
      - immich-backend
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.immich.rule=Host(`immich.local.elmurphy.com`)
      - traefik.http.routers.immich.tls=true
      - traefik.http.services.immich.loadbalancer.server.port=2283
    depends_on:
      - redis
      - database
    restart: unless-stopped
    healthcheck:
      disable: false

  immich-ml:
    image: ghcr.io/immich-app/immich-machine-learning:v2.4.0@sha256:204825c8cc626a3f44fb4b61f30ca5c76c3b4c557c9fb8bfc719902bf88daae4
    container_name: immich-ml
    security_opt:
      - no-new-privileges:true
    networks:
      - immich-backend
    volumes:
      - immich-ml-cache:/cache
    restart: unless-stopped
    healthcheck:
      disable: false

  redis:
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    container_name: immich-redis
    security_opt:
      - no-new-privileges:true
    networks:
      - immich-backend
    healthcheck:
      test: redis-cli ping || exit 1
    restart: unless-stopped

  database:
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    container_name: immich-postgres
    security_opt:
      - no-new-privileges:true
    networks:
      - immich-backend
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_DB=${DB_DATABASE_NAME}
      - POSTGRES_INITDB_ARGS='--data-checksums'
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data
    shm_size: 128mb
    restart: unless-stopped

volumes:
  immich-ml-cache:
    name: immich-ml-cache
networks:
  proxy:
    external: true
  immich-backend:
    name: immich-backend
    internal: true
    ipam:
      config:
        - subnet: 172.30.1.0/24
